/* header */

.header-our-team {
    margin-top: 50px;
    text-align: center;
    font-family: 'Inter';
}

.header-our-team span {
    font-weight: 600;
    font-size: 16px;
    color: #282828;
}

.header-our-team article {
    padding: 10px;
    font-weight: 600;
    font-size: 50px;
    color: #282828;
}

.header-span {
    padding: 15px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #5F6980;
    font-family: 'Inter';
}

/* main */
.main-section {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.article-items {
    max-width: 310px;
    max-height: 230px;
    padding: 15px;
}

.h4 {
    padding: 10px;
    font-family: "Inter";
    font-weight: 600;
    font-size: 18px;
    color: #282828;
}

.span {
    color: #3E3E59;
    padding: 10px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
}

.p {
    padding: 10px;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #5F6980
}

.a {
    position:relative;
    padding: 5px;
    top: 15px;
}
