.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    font-family: "Inter";
}

.header h1 {
    font-weight: 600;
    font-size: 54px;
    color: #282828;
}

.header span {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #5F6980;
    line-height: 30px;
}
.header-our-team {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
}

.header-our-team h5 {
    font-weight: 600;
    font-size: 16px;
    color: #282828;
}